node_modules
dist
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
.idea
.vscode
.next
.nextjs
.nextjs-cache
.nextjs-cache-manifest
temp
*.db
logs
prisma/autogpt.db